<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<style>
    p {
        display: inline-block;
        margin: 0;
    }

    li {
        margin: 1px;
    }

    img {
        width: 100%;
        margin: auto;
    }
</style>
<body>
<div class="container">
    <div class="row">
        <h3>Main</h3>

        <div class="col col-5">
            <ul id="main_help">

                <li class="mt-3">How to manage marks</li>
                <ul>
                    <li> You can add a new mark by enter the frame number of the new marks in <p style="color: #fb7e27">
                        input field[2] </p>, and click the "+" button. The new mark will appear in the <p
                            style="color: #22af4b"> mark list [3] </p>
                    </li>
                    <li> You can change a mark by drag the corresponding cursor in <p style="color: #ec1c24"> range
                        selector
                        [1]</p>, or change the corresponding input field in <p style="color: #22af4b"> mark list [3]</p>
                    </li>
                    <li> You can delete a mark by click "-" for the corresponding input field in <p
                            style="color: #22af4b">
                        mark list [3]</p>
                    </li>
                </ul>

                <li class="mt-3" id="set_weights">How to set weights</li>
                <ol>
                    <li>
                        Choose the reference you want to set weights in the <p style="color: #870015">drop down
                        list[0]</p>, The information of the selected reference will be show in <p
                            style="color: #ec1c24"> range selector [1]</p>
                    </li>
                    <li>
                        Click the interval that you want to set weights in the <p style="color: #ec1c24">
                        range selector [1] </p>, the selected interval will have a <p style="color: rgb(13,110,252)">
                        background color </p>. Weights of the selected interval will be show in the <p
                            style="color: #98D8E9FF">weights input fields [9] </p>
                    </li>
                    <li>
                        Change the weight number on the joint you want in the <p style="color: #98D8E9FF">weights input
                        fields [9] </p>
                    </li>
                </ol>
                <li class="mt-3" id="set_student_recording">How to set student recording</li>
                <ol>
                    <li>
                        Upload the student recording with the <p style="color: #00a1e7"> file input field [4]</p>. After
                        loading, the information of uploaded recording will be show in the <p style="color: #3f48ca">
                        range selector [5]</p>.
                    </li>
                    <li>
                        Select the range by drag the cursors in <p style="color: #3f48ca">range selector [5]</p> or
                        change the frame number in <p style="color: #a249a3">input fields [6]</p>. Unselected ranges
                        will
                        be dim.
                    </li>
                </ol>
                <li>Get results</li>
                <ol>
                    <li>
                        Set reference and set student recording.
                    </li>
                    <li>
                        Do animation settings with <p style="color: #fdc80e">switches [7]</p>.
                    </li>
                    <li>
                        Click <p style="color: #b4e51d">"submit" button [8]</p> and wait until jump to the result page.
                    </li>
                </ol>
                <li>How to go management page</li>
                <ul>
                    <li>
                        Click the <p style="color: #7091bd">"Management page" button [10]</p>
                    </li>
                </ul>
                <li>How to show/hide descriptions</li>
                <ul>
                    <li>
                        turn the <p style="color: #c7bee6">switch [11]</p> on/of.
                    </li>
                </ul>
            </ul>

        </div>
        <div class="col col-7">
            <div class="mt-3">
                <img src="/human-motion-comparison/static/help_images/main.png">
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Result</h3>
        <ul>
            <li>Explain of "result.xlsx"</li>
            Sheets in "result.xlsx" consist of columns representing different joints and rows corresponding to frame
            numbers. There are six sheets:
            <ol>
                <li>"Segment Position" is the position distances between expert and learner for each joint in each
                    frame. The unit of measurement is m
                </li>
                <li>"Segment Velocity" is the Euclidean velocity distance between expert and learner for each joint in
                    each frame. The unit of measurement is m/s
                </li>
                <li>
                    "Segment Acceleration" is the Euclidean acceleration distance between expert and learner for each
                    joint in each frame. The unit of measurement is (m/s)^2
                </li>
                <li>
                    "Segment Angular Velocity" is the Euclidean angular velocity distance between expert and learner for
                    each joint in each frame. The unit of measurement is deg/s
                </li>
                <li>
                    "Segment Angular Acceleration" is the Euclidean angular acceleration distance between expert and
                    learner for each joint in each frame. The unit of measurement is (deg/s)^2
                </li>

            </ol>
        </ul>
    </div>
</div>
</body>
</html>

