<!DOCTYPE html>
<html>
<head>
    <title>Input</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script>
        const SIMPLIFIED_JOINTS = ["Neck", "Head", "Right Upper Arm", "Right Forearm",
            "Right Hand", "Left Upper Arm", "Left Forearm", "Left Hand",
            "Right Upper Leg", "Right Lower Leg", "Right Foot", "Left Upper Leg",
            "Left Lower Leg", "Left Foot"];

        function get_default_weights() {
            let weights = new Map();
            for (let i in SIMPLIFIED_JOINTS) {
                weights.set(SIMPLIFIED_JOINTS[i], 1);
            }
            return weights;
        }


        $(document).ready(function () {
            let chosen_slot = "0";
            let wights_groups = [];
            wights_groups.push(get_default_weights());

            $(document).on("click", ".add", function () {
                let index = Number($(this).val());
                console.log(index)
                index += 1;
                $(this).parent().parent().after(`
        <div class="row mt-3">
            <div class="col col-md-1">
                <button type="button" class="btn btn-primary add" value="${index}">+</button>
            </div>
            <div class="col motion_0">
                <input type="number" class="form-control" placeholder="Node of Motion 0">
            </div>
            <div class="col motion_1">
                <input type="number" class="form-control" placeholder="Node of Motion 1" >
            </div>
            <div class="col col-md-1">
                <button type="button" class="btn btn-primary set_weights" value="${index}">set</button>
            </div>
            <div class="col col-md-1">
                <button type="button" class="btn btn-danger sub" value="${index}">-</button>
            </div>
        </div>`)

                wights_groups.push(get_default_weights())


            })
            $(document).on("click", ".sub", function () {
                $(this).parent().parent().remove()
                let index = Number($(this).val())
                wights_groups.splice(index, 1)
            })
            $(document).on("click", ".set_weights", function () {
                chosen_slot = $(this).val()
                $('.weight_input input').each(function () {
                    let index = Number(chosen_slot);
                    let key = $(this).attr("id");
                    let value = wights_groups[index].get(key);
                    $(this).val(value);

                });
            })
            $('.weight_input input').change(function () {
                let index = Number(chosen_slot);
                let key = $(this).attr("id");
                let value = Number($(this).val());
                console.log("key:" + key + " val:" + $(this).val());
                wights_groups[index].set(key, value);
            });
            $("#submit").click(function () {
                let marks_motion_0 = [];
                $('.motion_0 input').each(function () {
                    marks_motion_0.push($(this).val());
                });

                let marks_motion_1 = []
                $('.motion_1 input').each(function () {
                    marks_motion_1.push($(this).val());
                });

                let weights_groups = []
                for (let i in wights_groups) {
                    weights_groups.push(JSON.stringify(Object.fromEntries(wights_groups[i])));
                }

                let flag_visualized_velocity = $("#flag_visualized_velocity").val();
                let flag_heatmap = $("#flag_heatmap").val();
                let file_name_0 = $("#recording_name_0").val();
                let file_name_1 = $("#recording_name_1").val();


                $.post("http://127.0.0.1:5000/result",
                    {
                        "marks_motion_0": marks_motion_0,
                        "marks_motion_1": marks_motion_1,
                        "weights_groups": weights_groups,
                        "flag_visualized_velocity": flag_visualized_velocity,
                        "flag_heatmap": flag_heatmap,
                        "file_name_0": file_name_0,
                        "file_name_1": file_name_1,
                    });
                // function (data, status) {
                //     alert("Data: " + data + "\nStatus: " + status);
                // });
            });
            $("#test").click(function () {
            });


            let mannequin_wight = $("#weights").width();
            let mannequin_height = mannequin_wight * 1.364 //The resolution of the original image is 670 * 914
            $("#weights").css("height", mannequin_height + "px");
            $("#weights").css("background-size", mannequin_wight + "px " + mannequin_height + "px");

            let str_recording_names = "{{recording_names}}";
            let recording_names = str_recording_names.replace("[&#39;", "").replace("&#39;]", "").split("&#39;, &#39;");

            for (let i in recording_names) {
                $("#recording_name_0").append("<option value=" + recording_names[i] + ">" + recording_names[i] + "</option>");
                $("#recording_name_1").append("<option value=" + recording_names[i] + ">" + recording_names[i] + "</option>");
            }


        })

        window.onresize = function () {
            let mannequin_wight = $("#weights").width();
            let mannequin_height = mannequin_wight * (670 / 914) //The resolution of the original image is 670 * 914
            $("#weights").css("height", mannequin_height + "px");
            $("#weights").css("background-size", mannequin_wight + "px " + mannequin_height + "px");
        }
    </script>
    <style>
        .weight_input {
            width: 15%;
            position: absolute;
        }
    </style>
</head>
<body>


<div class="container mt-3 col-md-10">

    <div class="row">
        <div class="col col-md-6 offset-1">
            <!--            <button id="test" class="btn btn-primary" value="">aaa</button>-->
            <!--the names of the motions-->
            <div class="row mt-3">
                <div class="col offset-1">
                    <label for="recording_name_0" class="form-label">Recording For Motion 0:</label>
                    <select class="form-select recording_name_select" id="recording_name_0"> </select>
                </div>
                <div class="col">
                    <label for="recording_name_1" class="form-label">Recording For Motion 1:</label>
                    <select class="form-select recording_name_select" id="recording_name_1"> </select>
                </div>
                <div class="col col-md-2"></div>
            </div>
            <!--starts of motions-->
            <div class="row mt-3">
                <div class="col col-md-1">
                    <button type="button" class="btn btn-primary add" value="0">+</button>
                </div>
                <div class="col motion_0">
                    <input type="number" class="form-control" placeholder="Start of Motion 0">
                </div>
                <div class="col motion_1">
                    <input type="number" class="form-control" placeholder="Start of Motion 1">
                </div>
                <input type="number" style="display:none" id="weights_container_0"/>
                <div class="col col-md-1">
                    <button type="button" class="btn btn-primary set_weights" value="0">set</button>
                </div>
                <div class="col col-md-1"></div>
            </div>
            <!--the marks between start and end are dynamically added by JS-->
            <!--ends of motions-->
            <div class="row mt-3">
                <div class="col col-md-1"></div>
                <div class="col motion_0">
                    <input type="number" class="form-control" placeholder="End of Motion 0">
                </div>
                <div class="col motion_1">
                    <input type="number" class="form-control" placeholder="End of Motion 1">
                </div>
                <div class="col col-md-1"></div>
                <div class="col col-md-1"></div>
            </div>
            <!--labels of motions-->
            <div class="row mt-3">
                <div class="col col-md-1"></div>
                <div class="col motion_0">
                    <input type="number" class="form-control" placeholder="End of Motion 0">
                </div>
                <div class="col motion_1">
                    <input type="number" class="form-control" placeholder="End of Motion 1">
                </div>
                <div class="col col-md-1"></div>
                <div class="col col-md-1"></div>
            </div>
            <!--flag_visualized_velocity and flag_heatmap-->
            <div class="row mt-3">
                <div class="col col-md-5">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flag_visualized_velocity" value="no">
                        <label class="form-check-label" for="flag_visualized_velocity">With Visualized Velocity</label>
                    </div>
                </div>
                <div class="col col-md-5">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flag_heatmap" value="yes" checked>
                        <label class="form-check-label" for="flag_heatmap">With Heatmap</label>
                    </div>
                </div>

            </div>
            <!--submit button-->
            <div class="mt-3">
                <button id="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <!--input-fields for weights-->
        <div class="col col-md-4 mt-3" id="weights"
             style="background-image: url('static/mannequin.jpg'); position: relative; padding: 0">
            <div class="weight_input" style="left: 42.4%; top:5%">
                <input type="number" class="form-control" value="1" name="weight" id="Head">
            </div>
            <div class="weight_input" style="left: 20%;top: 20%">
                <input type="number" class="form-control" value="1" name="weight" id="Right Upper Arm">
            </div>
            <div class="weight_input" style="left: 42.4%;top: 15%">
                <input type="number" class="form-control" value="1" name="weight" id="Neck">
            </div>
            <div class="weight_input" style="left: 65%;top: 20%">
                <input type="number" class="form-control" value="1" name="weight" id="Left Upper Arm">
            </div>
            <div class="weight_input" style="left: 19.5%;top: 35%">
                <input type="number" class="form-control" value="1" name="weight" id="Right Forearm">
            </div>
            <div class="weight_input" style="left: 65.5%;top: 35%">
                <input type="number" class="form-control" value="1" name="weight" id="Left Forearm">
            </div>
            <div class="weight_input" style="left: 19%;top: 55%">
                <input type="number" class="form-control" value="1" name="weight" id="Right Hand">
            </div>
            <div class="weight_input" style="left: 66%;top: 55%">
                <input type="number" class="form-control" value="1" name="weight" id="Left Hand">
            </div>
            <div class="weight_input" style="left: 33%;top: 47%">
                <input type="number" class="form-control" value="1" name="weight" id="Right Upper Leg">
            </div>
            <div class="weight_input" style="left: 52%;top: 47%">
                <input type="number" class="form-control" value="1" name="weight" id="Left Upper Leg">
            </div>
            <div class="weight_input" style="left: 33.5%;top: 68%">
                <input type="number" class="form-control" value="1" name="weight" id="Right Lower Leg">
            </div>
            <div class="weight_input" style="left: 51.5%;top: 68%">
                <input type="number" class="form-control" value="1" name="weight" id="Left Lower Leg">
            </div>
            <div class="weight_input" style="left: 33%;top: 93%">
                <input type="number" class="form-control" value="1" name="weight" id="Right Foot">
            </div>
            <div class="weight_input" style="left: 52%;top: 93%">
                <input type="number" class="form-control" value="1" name="weight" id="Left Foot">
            </div>
        </div>

    </div>

</div>


</body>
</html>