<!DOCTYPE html>
<html>
<head>
    <title>Input</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/colresizable/1.6.0/colResizable-1.6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script src="/human-motion-comparison/static/range_selecters.js"></script>

    <link rel="stylesheet" href="/human-motion-comparison/static/range_selecters.css">
    <link rel="stylesheet" href="/human-motion-comparison/static/loading_animation.css">

    <script>


        const SIMPLIFIED_JOINTS = ["Pelvis", "Neck", "Head", "Right Upper Arm", "Right Forearm",
            "Right Hand", "Left Upper Arm", "Left Forearm", "Left Hand",
            "Right Upper Leg", "Right Lower Leg", "Right Foot", "Left Upper Leg",
            "Left Lower Leg", "Left Foot"];

        const HOST = "https://milki-psy.dbis.rwth-aachen.de"
        //const HOST = "localhost:5000"

        let socket = io(HOST, {
            path: "/human-motion-comparison/socket.io"
        });

        let weights_groups = [];
        let marks = []
        let start_reference = -1, end_reference = -1;
        let chosen_slot = 0;

        let selected_range = []
        let start_recording = -1, end_recording = -1;

        socket.on('connect', function () {
            socket.emit('my event', {data: 'connected!'});
        });

        socket.on('update reference', function (res) {
            $('.lds-ellipsis').css("display", "none");
            $('.container').css("opacity", "1");

            start_reference = res.start;
            end_reference = res.end;
            marks = res.marks;
            weights_groups = res.weights_groups;

            $('.weight_input').each(function () {
                let key = $(this).attr("id");
                console.log(typeof (weights_groups[chosen_slot]));
                let value = weights_groups[chosen_slot][key];
                $(this).val(value);
            });

            reference_image = res.image;
            $('.weights_setter').css("background-image", 'url(\"data:image/jpg;base64,' + reference_image + '\")');
            // $('#reference_name').val(res.name);

            set_marks();
            set_reference_range();

        });

        socket.on('update recording', function (res) {
            $('.lds-ellipsis').css("display", "none");
            $('.container').css("opacity", "1");

            start_recording = res.start;
            end_recording = res.end;
            recording_image = res.image;
            $('.frames_selector').css("background-image", 'url(\"data:image/jpg;base64,' + recording_image + '\")');

            selected_range[0] = Math.round((end_recording - start_recording) * 0.33) + start_recording;
            selected_range[1] = Math.round((end_recording - start_recording) * 0.67) + start_recording;
            set_frames_ranges();
            set_recording_range();
        });

        $(document).ready(function () {

            $(document).on("click", ".add_mark", function () {
                let new_mark_input = $(this).parent().parent().find('input').eq(0);
                let new_mark = parseInt(new_mark_input.val());
                let min_interval = Math.ceil((end_reference - start_reference) * 3 / 100)

                let flag_too_small_interval = false;
                for (let i = 0; i < marks.length; i++) {
                    if (Math.abs(marks[i] - new_mark) <= min_interval) {
                        flag_too_small_interval = true;
                        break;
                    }
                }

                if (flag_too_small_interval) {
                    alert("too small interval");
                } else {
                    let index = 0;
                    while (index < marks.length && marks[index] < new_mark) {
                        index++;
                    }
                    marks.splice(index, 0, new_mark);
                    set_marks();

                    let weights = new Map();
                    for (let i in SIMPLIFIED_JOINTS) {
                        weights.set(SIMPLIFIED_JOINTS[i], 1);
                    }
                    weights_groups.splice(index, 0, weights);
                }

                new_mark_input.val('');
            })

            $(document).on("click", ".sub-mark", function () {
                let index = $(this).data('index');

                marks.splice(index, 1);
                weights_groups.splice(index, 1);

                set_marks();
            })

            $(document).on("change", "#marks input", function () {
                let new_val = parseInt($(this).val());
                let index = $(this).data('index') + 1; // unshifted an element at the start of list
                let all_marks = [...marks];
                all_marks.unshift(start_reference);
                all_marks.push(end_reference);

                console.log(new_val);
                console.log(all_marks);
                if (new_val <= all_marks[index - 1] || new_val >= all_marks[index + 1]) {
                    alert("value is out of range");
                    $(this).val(all_marks[index]);
                } else {
                    marks[index - 1] = new_val;
                    set_marks();
                }
            })

            $(document).on("change", "#range_start", function () {
                let val = $(this).val();
                if (val < start_recording || val >= selected_range[1]) {
                    alert("value is out of range");
                    $(this).val("");
                } else {
                    selected_range[0] = parseInt(val);
                    set_frames_ranges(selected_range);
                }

            })

            $(document).on("change", "#range_end", function () {
                let val = $(this).val();
                if (val <= selected_range[0] || val > end_recording) {
                    alert("value is out of range");
                    $(this).val("");
                } else {
                    selected_range[1] = parseInt(val);
                    set_frames_ranges(selected_range);
                }
            })

            $(document).on("click", ".weights_th", function () {
                let index = $(this).data("index");
                chosen_slot = index;

                $('.weight_input input').each(function () {
                    let key = $(this).attr("id");
                    let value = weights_groups[chosen_slot].get(key);
                    $(this).val(value);
                });
            });

            $(document).on("change", ".weight_input", function () {
                let index = Number(chosen_slot);
                let key = $(this).attr("id");
                let value = Number($(this).val());
                weights_groups[index][key] = value;
            });

            $(document).on("change", "#learner_recording_input", function () {
                $('.lds-ellipsis').css("display", "block");
                $('.container').css("opacity", "0.4");
                let file = $(this).prop('files')[0];
                socket.emit('upload learner recording', {file: file, name: file.name.split(".")[0]});
            })

            $(document).on("change", "#flag_description", function () {
                let swich_description = $('.description');
                if (swich_description.css("display") === "none") {
                    swich_description.css("display", "block");
                } else {
                    swich_description.css("display", "none");
                }
            })

            $(document).on("click", "#submit", function () {
                $('.loading_animation').css("display", "block");
                $('.container').css("opacity", "0.4")

                let st_weights_groups = []
                for (let i in weights_groups) {
                    st_weights_groups.push(JSON.stringify(weights_groups[i]));
                }

                let flag_visualized_velocity = $("#flag_visualized_velocity").val();
                let flag_heatmap = $("#flag_heatmap").val();
                let reference_name = $("#reference_name").find(":selected").text();
                let recording_name = $("#learner_recording_input").prop('files')[0].name.split(".")[0];

                let marks_with_start_end = marks;
                marks_with_start_end.unshift(start_reference);
                marks_with_start_end.push(end_reference + 1);

                $.redirectPost('/human-motion-comparison/result',
                    {
                        "marks[]": marks_with_start_end,
                        "selected_range[]": selected_range,
                        "weights_groups[]": st_weights_groups,
                        "reference_name": reference_name,
                        "flag_visualized_velocity": flag_visualized_velocity,
                        "flag_heatmap": flag_heatmap,
                        "recording_name": recording_name,
                    }
                );

            });

            $(document).on("change", "#reference_name", function () {
                socket.emit('choose reference', {reference_name: $(this).find(":selected").text()});
            })

            $(document).on('change', "#add_mark_input", function () {
                let val = $(this).val();
                if (val < start_reference || val > end_reference) {
                    alert("value is out of range");
                    $(this).val('');
                } else {
                    $(this).val(val);
                }

            })

            let mannequin_wight = $("#weights").width();
            let mannequin_height = mannequin_wight * (900 / 430)
            $("#weights").css("height", mannequin_height + "px").css("background-size", mannequin_wight + "px " + mannequin_height + "px");

            $(".weights_setter").colResizable({
                liveDrag: true,
                draggingClass: "rangeDrag",
                onResize: update_marks_info,
                minWidth: 3
            });

            $(".frames_selector").colResizable({
                liveDrag: true,
                draggingClass: "rangeDrag",
                onResize: update_selected_range_info,
                minWidth: 3
            });

            let str_reference_names = "{{reference_names}}";
            let reference_names = str_reference_names.replace("[&#39;", "").replace("&#39;]", "").split("&#39;, &#39;");
            for (let i in reference_names) {
                $("#reference_name").append("<option value=" + reference_names[i] + ">" + reference_names[i] + "</option>");
            }

            socket.emit('choose reference', {reference_name: reference_names[0]});


        })

        window.onresize = function () {
            let mannequin_wight = $("#weights").width();
            let mannequin_height = mannequin_wight * (900 / 430) //The resolution of the original image is 382 * 913
            $("#weights").css("height", mannequin_height + "px");
            $("#weights").css("background-size", mannequin_wight + "px " + mannequin_height + "px");
        }

        $.extend({
            redirectPost: function (location, args) {
                console.log("in redirect Post")
                let form = $('<form></form>');
                form.attr("method", "post");
                form.attr("action", location);
                form.attr("enctype", "multipart/form-data")

                $.each(args, function (key, value) {
                    if (key === "file") {
                        let field = $('<input></input>');
                        field.attr("type", "file");
                        field.attr("name", key);
                        field.prop("files", value);
                        console.log(field.prop("files"));
                        form.append(field);
                    } else if (key.includes("[]")) {
                        for (const element of value) {
                            let field = $('<input></input>');
                            field.attr("type", "hidden");
                            field.attr("name", key);
                            field.attr("value", element);
                            form.append(field);
                        }
                    } else {
                        let field = $('<input></input>');
                        field.attr("type", "hidden");
                        field.attr("name", key);
                        field.attr("value", value);
                        form.append(field);
                    }
                });
                console.log(form);
                $(form).appendTo('body').submit();
            }
        });


    </script>

</head>
<body>

<div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>


<!--<div id="chartdiv"></div>-->


<div class="container mt-3 col-md-12">

    <div class="row">
        <div class="col col-md-4 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <!--motion names drop down list-->
                    <div class="row">
                        <p class="description">Use the drop-down list below to choose your reference</p>
                        <div class="col  col-md-8">
                            <label for="reference_name" class="form-label">Choose Your Reference:</label>
                            <select class="form-select" id="reference_name"></select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p class="description">Drag cursors to set marks and click the interval to choose weight
                            intervals</p>
                        <div class="col col-md-6" style="text-align:left">
                            <p id="reference_start_p" style="margin: 0"></p>
                        </div>
                        <div class="col col-md-6" style="text-align:right">
                            <p id="reference_end_p" style="margin: 0"></p>
                        </div>
                    </div>
                    <!--weights bar-->
                    <div class="row">
                        <div class="col  col-md-12">
                            <div class="range_selector_div weights_setter_div">
                                <table class="weights_setter range_selector">
                                    <tr class="weights-setter-tr">
                                        <th class="range weights_th" data-index="0" style="border: none"></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--marks frame numbers-->
                    <div class="row mt-3">
                        <p class="description">Enter the frame number and click "+" to add a new mark</p>
                        <div class="col col-md-6">
                            <div class="input-group">
                                <input id="add_mark_input" type="number" class="form-control"
                                       placeholder="Add New Mark">
                                <div class="input-group-prepend">
                                    <button class="input-group-btn btn btn-primary add_mark">+</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3" id="marks">
                        <p class="description">Change the frame number and press "enter" to adjust mark, click "-" to
                            delete mark</p>

                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <!--learner's motion recordings drop down list-->
                    <div class="row">
                        <p class="description">Use the file input to upload your recording</p>
                        <div class="col col-md-8">
                            <label for="learner_recording_input" class="form-label">Please Upload Your
                                Recording:</label>
                            <input type="file" class="form-control" id="learner_recording_input"/>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <p class="description">Use the selecter to choose the interval</p>
                        <div class="col col-md-6" style="text-align:left">
                            <p id="recording_start_p" style="margin: 0"></p>
                        </div>
                        <div class="col col-md-6" style="text-align:right">
                            <p id="recording_end_p" style="margin: 0"></p>
                        </div>
                    </div>

                    <!--frame range selector-->
                    <div class="row">
                        <div class="col  col-md-12">
                            <div class="range_selector_div frames_selector_div">
                                <table class="range_selector frames_selector">
                                    <tr>
                                        <th class="unselected_range range"></th>
                                        <th class="range"></th>
                                        <th class="unselected_range range" style="border: none"></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--start/end frame numbers-->
                    <div class="row mt-3 range_inputs">
                        <p class="description">Change the frame number and press "enter" to adjust selected interval</p>
                        <div class="col col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Start</span>
                                </div>
                                <input type="number" class="form-control" id="range_start">
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">End</span>
                                </div>
                                <input type="number" class="form-control" id="range_end">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <!--flag_visualized_velocity-->
                    <div class="row">
                        <p class="description">Use switches for animation settings</p>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flag_visualized_velocity"
                                       value="no">
                                <label class="form-check-label" for="flag_visualized_velocity">With Visualized
                                    Velocity</label>
                            </div>
                        </div>
                    </div>
                    <!--flag_heatmap-->
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flag_heatmap" value="yes" checked>
                                <label class="form-check-label" for="flag_heatmap">With Heatmap</label>
                            </div>
                        </div>
                    </div>
                    <!--submit button-->
                    <div class="row mt-3 ">
                        <div class="col col-md-3">
                            <button id="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--input-fields for weights-->
        <div class="col col-md-3">
            <div class="row">
                <p class="description">Use inputs to set the weights for each joints</p>
            </div>
            <div class="row" id="weights"
                 style="background-image: url('/human-motion-comparison/static/mannequin.jpg'); position: relative;padding: 0">
                <div class="col col-md-12">
                    <div style="left: 40%; top:5%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01" name="weight"
                               id="Head">
                    </div>
                    <div style="left: 14%;top: 20%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Upper Arm">
                    </div>
                    <div style="left: 40%;top: 15%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01" id="Neck">
                    </div>
                    <div style="left: 65%;top: 20%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Upper Arm">
                    </div>
                    <div style="left: 9%;top: 35%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Forearm">
                    </div>
                    <div style="left: 70%;top: 35%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Forearm">
                    </div>
                    <div style="left: 3%;top: 55%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Hand">
                    </div>
                    <div style="left: 76%;top: 55%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Hand">
                    </div>
                    <div style="left: 28%;top: 52%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Upper Leg">
                    </div>
                    <div style="left: 40%;top: 45%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01" id="Pelvis">
                    </div>
                    <div style="left: 51%;top: 52%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Upper Leg">
                    </div>
                    <div style="left: 28%;top: 68%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Lower Leg">
                    </div>
                    <div style="left: 51%;top: 68%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Lower Leg">
                    </div>
                    <div style="left: 28%;top: 93%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Foot">
                    </div>
                    <div style="left: 51%;top: 93%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Foot">
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-1 offset-md-1">
            <form action="management">
                <input type="submit" class="btn btn-primary" value="Management Page"/>
            </form>
            <div class="form-check form-switch mt-3">
                <input class="form-check-input" type="checkbox" id="flag_description" value="yes" checked>
                <label class="form-check-label" for="flag_description">Description</label>
            </div>
        </div>
    </div>

</div>


</body>
</html>