<!DOCTYPE html>
<html>
<head>
    <title>Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/colresizable/1.6.0/colResizable-1.6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script src="/human-motion-comparison/static/range_selecters.js"></script>

    <link rel="stylesheet" href="/human-motion-comparison/static/range_selecters.css">
    <link rel="stylesheet" href="/human-motion-comparison/static/loading_animation.css">

    <script>

        const SIMPLIFIED_JOINTS = ["Pelvis", "Neck", "Head", "Right Upper Arm", "Right Forearm",
            "Right Hand", "Left Upper Arm", "Left Forearm", "Left Hand",
            "Right Upper Leg", "Right Lower Leg", "Right Foot", "Left Upper Leg",
            "Left Lower Leg", "Left Foot"];

        const HOST = "https://milki-psy.dbis.rwth-aachen.de";
        //const HOST = "localhost:5000"

        let socket = io(HOST, {
            path: "/human-motion-comparison/socket.io"
        });
        socket.heartbeatTimeout = 200000;
        let weights_groups = [];
        let marks = [];
        let start_reference = -1, end_reference = -1;
        let chosen_slot = 0;
        let reference_image;
        let old_reference_name = "";

        let selected_range = [];
        let start_recording = -1, end_recording = -1;
        let recording_image;

        socket.on('connect', function () {
            socket.emit('my event', {data: 'management page connected!'});
        });

        socket.on('update reference', function (res) {
            $('.lds-ellipsis').css("display", "none");
            $('.container').css("opacity", "1");

            start_reference = res.start;
            end_reference = res.end;
            marks = res.marks;
            weights_groups = res.weights_groups;

            $('.weight_input').each(function () {
                let key = $(this).attr("id");
                console.log(typeof (weights_groups[chosen_slot]));
                let value = weights_groups[chosen_slot][key];
                $(this).val(value);
            });

            reference_image = res.image;
            $('.weights_setter').css("background-image", 'url(\"data:image/jpg;base64,' + reference_image + '\")');
            $('#reference_name').val(res.name);

            set_marks();
            set_reference_range();
            $(".weights_th").first().css("background-color", "rgba(13,110,252,0.1)");
        });

        socket.on('update recording', function (res) {
            console.log("in update recording");
            start_recording = res.start;
            end_recording = res.end;
            recording_image = res.image;
            $('.frames_selector').css("background-image", 'url(\"data:image/jpg;base64,' + recording_image + '\")');

            selected_range[0] = Math.round((end_recording - start_recording) * 0.33) + start_recording;
            selected_range[1] = Math.round((end_recording - start_recording) * 0.67) + start_recording;
            set_frames_ranges();
            set_recording_range();

        });

        socket.on('update reference list', function (res) {
            set_references_list(res.reference_names);
        });

        socket.on('update recording list', function (res) {
            $('.lds-ellipsis').css("display", "none");
            $('.container').css("opacity", "1")
            set_recordings_list(res.recording_names);
            set_source_list(res.recording_names);
        });

        $(document).ready(function () {

            $(document).on("click", ".add-mark", function () {
                let new_mark_input = $(this).parent().parent().find('input').eq(0);
                let new_mark = parseInt(new_mark_input.val());
                let min_interval = Math.ceil((end_reference - start_reference) * 3 / 100)

                let flag_too_small_interval = false;
                for (let i = 0; i < marks.length; i++) {
                    if (Math.abs(marks[i] - new_mark) <= min_interval) {
                        flag_too_small_interval = true;
                        break;
                    }
                }

                if (flag_too_small_interval) {
                    alert("too small interval");
                } else {
                    let index = 0;
                    while (index < marks.length && marks[index] < new_mark) {
                        index++;
                    }
                    marks.splice(index, 0, new_mark);
                    set_marks();

                    let weights = {};
                    for (let i in SIMPLIFIED_JOINTS) {
                        weights[(SIMPLIFIED_JOINTS[i])] = 1;
                    }
                    weights_groups.splice(index, 0, weights);
                }
                console.log()
                new_mark_input.val('');
            })

            $(document).on("click", ".sub-mark", function () {
                let index = $(this).data('index');

                marks.splice(index, 1);
                weights_groups.splice(index, 1);

                set_marks();


            })

            $(document).on("change", "#marks input", function () {
                let new_val = parseInt($(this).val());
                let index = $(this).data('index') + 1; // unshifted an element at the start of list
                let all_marks = [...marks];
                all_marks.unshift(start_reference);
                all_marks.push(end_reference);

                console.log(new_val);
                console.log(all_marks);
                if (new_val <= all_marks[index - 1] || new_val >= all_marks[index + 1]) {
                    alert("value is out of range");
                    $(this).val(all_marks[index]);
                } else {
                    marks[index - 1] = new_val; // index for marks, without unshifted element
                    set_marks();
                }
            })

            $(document).on("change", "#range_start", function () {
                let val = $(this).val();
                if (val < start_recording || val >= selected_range[1]) {
                    alert("value is out of range");
                    $(this).val("");
                } else {
                    selected_range[0] = parseInt(val);
                    set_frames_ranges(selected_range);
                }

            })

            $(document).on("change", "#range_end", function () {
                let val = $(this).val();
                if (val <= selected_range[0] || val > end_recording) {
                    alert("value is out of range");
                    $(this).val("");
                } else {
                    selected_range[1] = parseInt(val);
                    set_frames_ranges(selected_range);
                }
            })

            $(document).on("click", ".weights_th", function () {
                let index = $(this).data("index");
                chosen_slot = index;

                $('.weights_th').each(function () {
                    $(this).css("background-color", "transparent");
                });
                $(this).css("background-color", "rgba(13,110,252,0.1)");

                $('.weight_input').each(function () {
                    let key = $(this).attr("id");
                    let value = weights_groups[chosen_slot][key];
                    $(this).val(value);
                });
            });

            $(document).on("click", ".references_btn", function () {
                $("#source_recording_card").css("display", "none");
                $("#reference_card").css("display", "block");
                old_reference_name = $(this).val();
                socket.emit('choose reference', {reference_name: old_reference_name});
            })

            $(document).on("click", "#new-reference", function () {
                $("#source_recording_card").css("display", "block");
                $("#reference_card").css("display", "none");
                old_reference_name = "";
                set_frames_ranges();
                socket.emit('choose recording', {recording_name: recording_names[0]});
            })

            $(document).on("click", ".del-recording", function () {
                let result = confirm("The recording will be deleted forever!");
                if (result === true) {
                    socket.emit('delete recording', {name: $(this).val()});
                }
            })

            $(document).on("change", "#new-recording", function () {
                $('.lds-ellipsis').css("display", "block");
                $('.container').css("opacity", "0.4");
                let file = $(this).prop('files')[0];
                socket.emit('new recording', {file: file, name: file.name.split(".")[0]});
            })

            $(document).on("click", ".del-reference", function () {
                let result = confirm("The reference will be deleted forever!");
                if (result === true) {
                    socket.emit('delete reference', {name: $(this).val()});
                }
            })

            $(document).on("click", "#confirm_btn", function () {
                $("#reference_card").css("display", "block");
                $('.weights_setter').css("background-image", "none");
                $('#reference_name').val("");

                $('.lds-ellipsis').css("display", "block");
                $('.container').css("opacity", "0.4")

                let recording_name = $("#recording_name").val();

                socket.emit('preprocess reference', {
                    recording_name: recording_name,
                    selected_range_start: selected_range[0],
                    selected_range_end: selected_range[1],
                });
            })

            $(document).on("change", "#recording_name", function () {
                let value = $(this).val();
                socket.emit('choose recording', {recording_name: value});
            })

            $(document).on("change", ".weight_input", function () {
                let index = Number(chosen_slot);
                let key = $(this).attr("id");
                let value = Number($(this).val());
                weights_groups[index][key] = value;
            });

            $(document).on("change", "#flag_description", function () {
                let swich_description = $('.description');
                if (swich_description.css("display") === "none") {
                    swich_description.css("display", "block");
                } else {
                    swich_description.css("display", "none");
                }
            })

            $(document).on("click", "#submit", function () {
                let reference_name = $("#reference_name").val();
                let st_weights_groups = []
                for (let i in weights_groups) {
                    st_weights_groups.push(JSON.stringify(weights_groups[i]));
                }
                let new_marks = [];
                for (let i = 0; i < marks.length; i++) {
                    new_marks.push(marks[i] - start_reference);
                }

                socket.emit('save reference', {
                    name: reference_name,
                    old_name: old_reference_name,
                    marks: new_marks,
                    weights_groups: st_weights_groups,
                    start: 0,
                    end: end_reference - start_reference,
                    image: reference_image
                });

                old_reference_name = reference_name;

            });

            $(document).on('change', "#add_mark_input", function () {
                let val = $(this).val();
                if (val < start_reference || val > end_reference) {
                    alert("value is out of range");
                    $(this).val('');
                } else {
                    $(this).val(val);
                }

            })

            let mannequin_wight = $("#weights").width();
            let mannequin_height = mannequin_wight * (900 / 430)
            $("#weights").css("height", mannequin_height + "px").css("background-size", mannequin_wight + "px " + mannequin_height + "px");

            $(".weights_setter").colResizable({
                liveDrag: true,
                draggingClass: "rangeDrag",
                onResize: update_marks_info,
                minWidth: 3
            });

            $(".frames_selector").colResizable({
                liveDrag: true,
                draggingClass: "rangeDrag",
                onResize: update_selected_range_info,
                minWidth: 3
            });

            let str_recording_names = "{{recording_names}}";
            let recording_names = str_recording_names.replace("[&#39;", "").replace("&#39;]", "").split("&#39;, &#39;");
            set_source_list(recording_names);
            set_recordings_list(recording_names);
            // socket.emit('choose recording', {recording_name: recording_names[0]});

            let str_reference_names = "{{reference_names}}";
            let reference_names = str_reference_names.replace("[&#39;", "").replace("&#39;]", "").split("&#39;, &#39;");
            set_references_list(reference_names);
            socket.emit('choose reference', {reference_name: reference_names[0]});
            old_reference_name = reference_names[0];



        })

        window.onresize = function () {
            let mannequin_wight = $("#weights").width();
            let mannequin_height = mannequin_wight * (900 / 430);
            $("#weights").css("height", mannequin_height + "px");
            $("#weights").css("background-size", mannequin_wight + "px " + mannequin_height + "px");
        }
    </script>
</head>
<body>

<div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>


<div class="container mt-3 col-12">

    <div class="row mt-3">
        <div class="col col-3 offset-md-1">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="description">Click "-" to delete recording</p>
                    <label>Recording List</label>
                    <div id="recording-list"></div>
                    <div class="row mt-3">
                        <p class="description">Click file input to upload new recording</p>
                        <div class="col col-12">
                            <input type="file" accept=".xlsx" class="form-control" id="new-recording"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="description">Click name to edite reference in the left column and click "-" to delete
                        recording</p>
                    <label>Reference List</label>
                    <div id="reference-list"></div>
                    <div class="row mt-3">
                        <p class="description">Click "+" to create a new reference in the left column</p>
                        <div class="col col-12">
                            <button class="btn btn-primary" id="new-reference" style="width: 100%">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-4">
            <div id="source_recording_card" class="card mb-3" style="display: none">
                <div class="card-body">
                    <div class="row">
                        <p class="description">Use the drop-down list below to choose recording</p>
                        <div class="col col-8">
                            <label for="recording_name" class="form-label">Source Recording:</label>
                            <select class="form-select recording_name_select" id="recording_name"> </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <p class="description">Use the selecter to choose the interval</p>
                        <div class="col col-6" style="text-align:left">
                            <p id="recording_start_p" style="margin: 0"></p>
                        </div>
                        <div class="col col-6" style="text-align:right">
                            <p id="recording_end_p" style="margin: 0"></p>
                        </div>
                    </div>

                    <!--frame range selector-->
                    <div class="row">
                        <div class="col  col-12">
                            <div class="range_selector_div frames_selector_div">
                                <table class="range_selector frames_selector">
                                    <tr class="frames_selector_tr">
                                        <th class="unselected_range range"></th>
                                        <th class="range"></th>
                                        <th class="unselected_range range" style="border: none"></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--start/end frame numbers-->
                    <div class="row mt-3 range_inputs">
                        <p class="description">Change the frame number and press "enter" to adjust selected interval</p>
                        <div class="col col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Start</span>
                                </div>
                                <input type="number" class="form-control" id="range_start">
                            </div>
                        </div>
                        <div class="col col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">End</span>
                                </div>
                                <input type="number" class="form-control" id="range_end">
                            </div>
                        </div>
                    </div>
                    <!--confirm button-->
                    <div class="row mt-3">
                        <p class="description">Click "confirm" to generate new reference with selected interval</p>
                        <div class="col  col-3">
                            <button id="confirm_btn" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="reference_card" , class="card">
                <div class="card-body">
                    <!--reference name input-->
                    <div class="row">
                        <p class="description">Use the input to change reference name</p>
                        <div class="col  col-8">
                            <label for="recording_name" class="form-label">Reference Name:</label>
                            <input type="text" class="form-control" id="reference_name">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p class="description">Drag cursors to set marks and click the interval to choose weight
                            intervals</p>
                        <div class="col col-6" style="text-align:left">
                            <p id="reference_start_p" style="margin: 0"></p>
                        </div>
                        <div class="col col-6" style="text-align:right">
                            <p id="reference_end_p" style="margin: 0"></p>
                        </div>
                    </div>
                    <!--reference bar-->
                    <div class="row">
                        <div class="col  col-12">
                            <div class="range_selector_div weights_setter_div">
                                <table class="weights_setter range_selector">
                                    <tr class="weights-setter-tr">
                                        <th class="range weights_th" data-index="0" style=" border: none"></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--marks frame numbers-->
                    <div class="row mt-3">
                        <p class="description">Enter the frame number and click "+" to add a new mark</p>
                        <div class="col col-6">
                            <div class="input-group">
                                <input type="number" class="form-control" id="add_mark_input"
                                       placeholder="Add New Mark">
                                <div class="input-group-prepend">
                                    <button class="input-group-btn btn btn-primary add-mark">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" id="marks">
                        <p class="description">Change the frame number and press "enter" to adjust mark, click "-" to
                            delete mark</p>

                    </div>

                    <!--submit button-->
                    <div class="mt-3">
                        <button id="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--input-fields for weights-->
        <div class="col col-3">
            <div class="row">
                <p class="description">Use inputs to set the weights for each joints</p>
            </div>
            <div class="row" id="weights"
                 style="background-image: url('/human-motion-comparison/static/mannequin.jpg'); position: relative;padding: 0">
                <div class="col col-12">
                    <div style="left: 40%; top:5%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01" name="weight"
                               id="Head">
                    </div>
                    <div style="left: 14%;top: 20%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Upper Arm">
                    </div>
                    <div style="left: 40%;top: 15%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01" id="Neck">
                    </div>
                    <div style="left: 65%;top: 20%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Upper Arm">
                    </div>
                    <div style="left: 9%;top: 35%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Forearm">
                    </div>
                    <div style="left: 70%;top: 35%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Forearm">
                    </div>
                    <div style="left: 3%;top: 55%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Hand">
                    </div>
                    <div style="left: 76%;top: 55%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Hand">
                    </div>
                    <div style="left: 28%;top: 52%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Upper Leg">
                    </div>
                    <div style="left: 40%;top: 45%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01" id="Pelvis">
                    </div>
                    <div style="left: 51%;top: 52%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Upper Leg">
                    </div>
                    <div style="left: 28%;top: 68%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Lower Leg">
                    </div>
                    <div style="left: 51%;top: 68%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Lower Leg">
                    </div>
                    <div style="left: 28%;top: 93%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Right Foot">
                    </div>
                    <div style="left: 51%;top: 93%; position: absolute; width: 23%">
                        <input type="number" class="form-control weight_input" min="0" max="1" step="0.01"
                               id="Left Foot">
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-1">
            <form action="main">
                <input type="submit" class="btn btn-primary" value="Main Page"/>
            </form>
            <div class="form-check form-switch mt-3">
                <input class="form-check-input" type="checkbox" id="flag_description" value="yes" checked>
                <label class="form-check-label" for="flag_description">Description</label>
            </div>
        </div>
    </div>

</div>


</body>
</html>